@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Poiret+One&family=Square+Peg&family=Urbanist:wght@300&display=swap");

Button {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  background-color: rgb(248, 233, 235);
  cursor: pointer;
  border: none;
  color: rgb(176, 105, 116);
  font-size: 20px;
  font-family: Poiret One;
}

Button:hover {
  background-color: lightblue;
  color: white;
}
