body {
  background-color: rgb(247, 180, 190);
  color: white;
}

p,
h2 {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
